@use "../../../assets/styles/theme.scss" as themesColor;

.brand {
  font-family: "Poppins", sans-serif;
  font-weight: 900;


}
.toolbar{
    position: sticky;
    top: 0;
    background-color: themesColor.$Dark-Blue;
    border-radius: 6px;
    z-index: 2;
}
.icon{
  padding-right: 33px;
  padding-bottom: 27px;
}
