.d-flex {
    display: flex;
  }
  .h-100 {
    height: 100vh;
  }
  .padding-card {
    padding: 34px;
  }
  .f-w {
    font-weight: bolder;
  }
  .btn-login {
    font-size: 18px;
    padding: 5px 50px 5px 50px;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f !important;
  }
  .margin-l-2 {
    margin-left: 2rem;
  }
  .brand {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
  }
  .mt-8 {
    margin-top: 8rem !important;
  }
  .forget-password {
    color: #5c5c5d;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .center-card {
    display: flex;
    justify-content: center;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  
  .circle-top {
    clip-path: circle(32% at 100% 0);
    background-color: #f3c331;
  }
  
  .circle {
    height: 50vh;
    z-index: 2;
    position: fixed;
    width: -webkit-fill-available;
  
    &.circle-top {
      clip-path: circle(32% at 100% 0);
      background-color: #333652;
      top: 0;
    }
    &.circle-bottom {
      bottom: 0;
      clip-path: circle(25% at 0 100%);
  
      background-color: #fad02c;
    }
  }
  