<!-- <div class="overflow-hidden">
  <div class="container">
    <h2 class="brand mt-3">{{ projectName }}</h2>
    <div class="padding-card center-card ">
      <div class="mt-8 p-3 card shadow">
        <h2 class="f-w">{{ pageName }}</h2>
        <p class="pt-2">{{ description }}</p>
        <form class="mt-5 card-body" (ngSubmit)="onSubmit()">
          <formly-form
            [model]="model"
            [fields]="formConfig"
            [options]="options"
            [form]="form"
          ></formly-form>
          <a class="forget-password">{{ operationText }}</a>
          <div class="mt-3">
            <button
              class="btn-login btn btn-primary btn-active"
              color="primary"
              [disabled]="form.invalid"
            >
              {{ submitBtb }}
            </button>
            <button
              class="btn-login margin-l-2 btn btn-ghost btn-active"
              mat-flat-button
              [disabled]="form.invalid"
            >
              {{ cancelBtn}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->


<div class="hero min-h-screen ">
  <div class="flex-col justify-center hero-content lg:flex-row">
    <div class="text-center lg:text-left">
      <h1 class="mb-5 text-5xl font-bold brand">
            {{projectName}}
          </h1> 
      <p class="mb-5">
            {{description}}
          </p>
    </div> 
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl ml-4">
      <div class="card-body">
        <form class="mt-5 card-body" (ngSubmit)="onSubmit()">
          <formly-form
            [model]="model"
            [fields]="formConfig"
            [options]="options"
            [form]="form"
          ></formly-form>
          <a class="forget-password">{{ operationText }}</a>
          <div class="mt-3 d-grid">
            <button
              class="btn-login btn-submit btn btn-primary btn-active"
              color="primary"
              [disabled]="form.invalid"
            >
              {{ submitBtb }}
            </button>
            <button
              class="btn-login mt-2 btn btn-ghost btn-active"
              mat-flat-button
              [disabled]="form.invalid"
            >
              {{ cancelBtn}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="circle circle-bottom"></div>
  <div class="circle circle-top"></div>

</div>
